.xans-layout-logotop {position:absolute; top:30px; left:48%; z-index:999999 }
.xans-layout-logotop a { font-family:verdana, '맑은 고딕', malgungothic, sans-serif; font-size:40px; color:#008bcc; font-weight:bold; text-decoration:none; font-style:normal; }
.xans-layout-logotop img { max-width:800px; max-height:112px; }
